
.list-group-item {
    width: 300px;
}

.row .text-center .btn .btn-info {
    margin-bottom: 40px;
}

.background {
    background: #dedec8;
    padding: 4em 0;
}
/* .team {
	color: #5e5e55;
	padding: 0 180px;
}
.team .card-columns {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}
.team .card {
	background:none;
	border: none;
}
.team .card-title {
	font-size: 1.3rem;
	margin-bottom: 0;
	text-transform: uppercase;
} */

.dashboard a {
    font-size: small;
    color:grey; 
    font-weight: bolder;
}

.box {
    border: 2px solid green;
    width: 100%;
    background-color: #152733;
    color:darkgrey;
  }

.box .list-group-item {
    padding: 0px; 
    width: 250px;
}

  input[type=text], input[type=url]{
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
  }

  footer {
    background-color: #558;
    color: white;
    padding: 15px;
    margin-top: 40px;
  }
 

