
.list-group-item {
    width: 300px;
}

.background {
    background: #dedec8;
    padding: 4em 0;
}

.dashboard a {
    font-size: small;
    color:grey; 
    font-weight: bolder;
}

.box {
    border: 2px solid green;
    width: 100%;
    background-color: #152733;
    color:darkgrey;
  }

.box .list-group-item {
    padding: 0px; 
    width: 250px;
}

  input[type=text], input[type=url]{
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    box-sizing: border-box;
  }

  footer {
    background-color: #558;
    color: white;
    padding: 15px;
    margin-top: 40px;
  }
 

